{% extends 'base.html' %}
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(0, 102, 255)">No such product.</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1 style="color:rgb(0, 102, 255)">"You shopped for {{Product_name}}".</h1>
    <h3 style="color:rgb(0, 102, 255)">You may also like:</h3>
  </div>
    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:rgb(0, 179, 0)"><strong>{{m|capitalize}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
